*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* root */ 

:root {
  --step--2: clamp(1.00rem, calc(0.62rem + 0.38vw), 0.69rem);
  --step--1: clamp(1.25rem, calc(0.73rem + 0.52vw), 0.83rem);
  --step-0: clamp(1.00rem, calc(0.86rem + 0.70vw), 1.56rem);
  --step-1: clamp(1.20rem, calc(1.01rem + 0.94vw), 1.95rem);
  --step-2: clamp(1.44rem, calc(1.19rem + 1.25vw), 2.44rem);
  --step-3: clamp(1.73rem, calc(1.40rem + 1.65vw), 3.05rem);
  --step-4: clamp(2.07rem, calc(1.64rem + 2.18vw), 3.82rem);
  --step-5: clamp(2.49rem, calc(1.92rem + 2.85vw), 4.77rem);

}



@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}





$navbar-font-color: black;
$text-color: white;
$font-weight: bold;

span{
  color: orangered;
}

.container{
  
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(images/ganteli-trenazhernyy-zal.jpg);
  background-position:center;
  background-size: cover;
  
  height: 100vh;
  
  nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    opacity: .5;
    background: white;
    align-items: center;
   
    .left-side{
      margin-left: 2em;
     
      h1{
        font-size: 2em;
        color: black;
      }
    }


    li{
      list-style-type: none;
      display: inline-block;
      margin-right: 2em;
    }

    a{
      color:$navbar-font-color;
      text-decoration: none;
      font-size: 1.3em;
      
    }

  }
    

  @include for-phone-only(){
       .right-side{
         display: none;
       } 
  }
  
  .flex-uvodni{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    &__childBox{
      p{
        font-size: var(--step-2);
        color: $text-color;
        font-weight: $font-weight;
      }

      h1{
        font-size: var(--step-5);
        color: $text-color;
      }

      .ref
      {
        margin-top: 1.3em;

        .member-ref
        {
          margin-top: 2em;
          padding: 1em;
          background-color: orangered;
          border: none;
          color: $text-color;
          text-decoration: none;
          transition: 1s;
          
        }

        .member-ref:hover
        {
          background-color: white;
          
        }


      }

    }
    
  }
  
}

    
    
    
    
    





  



